.button {
  background-color: var(--main-accent-color);
  color: var(--main-white-color);

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;

  // cursor: pointer;

  border-radius: 4px;
  border: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
