.features-section {
  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-list__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.features-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.icon-container {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;

  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
