.page-footer {
  background-color: #2f303a;
  // padding-top: 60px;
  // padding-bottom: 60px;
}
// .page-footer__container {
//   // display: flex;
//   align-items: baseline;
// }

// .adress-cotain {
//   margin-right: 70px;
// }

.adress {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  font-style: normal;
  //   display: flex;
  //   flex-direction: column;
}
.adress__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  padding: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }
}

// .join-box {
//   margin-right: 93px;
// }
.join-box__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;

  color: var(--main-white-color);

  margin-bottom: 20px;
}

.join-links-list {
  display: flex;
}
.join-list__item {
  & + .join-list__item {
    margin-left: 10px;
  }
}

.join-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--main-accent-color);
    color: var(--main-white-color);
  }
}

.join-list__icon {
  fill: var(--main-white-color);
}

.subscribe-form__title {
  display: block;
  margin-bottom: 20px;

  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.subscribe-form__imput {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  padding-left: 16px;

  color: var(--main-white-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    outline: 1px solid var(--main-white-color);
  }
}
.subscribe-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
}
.submit-icon {
  margin-left: 10px;
}
