.features-section {
  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }
}
// .features-list {
//   display: flex;
// }
// .features-list__item {
//   max-width: 270px;
//   & + .features-list__item {
//     margin-left: 30px;
//   }
// }
.features-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.features-list__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list__item:not(:last-child) {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.icon-container {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;

  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// product-section

.products-section {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.section__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

// .products-list {
//   display: flex;
// }

// .products-list__item {
//   & + .products-list__item {
//     margin-left: 30px;
//   }
// }

.product {
  position: relative;
}

.product__image {
  display: block;
}

.product__overlay {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.product__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

// team-section

.team-section {
  background: #f5f4fa;
  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }
}

// .team-list {
//   display: flex;
// }

// .team-list__item {
//   & + .team-list__item {
//     margin-left: 30px;
//   }
// }

.team-list__item:not(:last-child) {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.team-card {
  background-color: var(--main-white-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__image {
  display: block;
}

.team-card__caption {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

// clients-section

// .clients-list {
//   display: flex;
// }

// .clients-list__item {
//   & + .clients-list__item {
//     margin-left: 30px;
//   }
// }

.clients-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--main-accent-color);
    color: var(--main-accent-color);
  }
}

.clients-list__icon {
  fill: currentColor;
}
