.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 93px 15px 94px 15px;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  .modal {
    transform: scale(1.2);
    opacity: 0;

    @media screen and (min-width: 768px) {
      transform: scale(1.2) translate(-50%, -50%);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  overflow-y: scroll;

  padding: 40px;
  // display: inline-flex;

  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-white-color);
  cursor: pointer;

  color: var(--main-title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }
}

.close-button__icon {
  fill: currentColor;
}

.form-field {
  position: relative;
  margin-bottom: 10px;

  color: var(--main-title-color);
}

.request-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  display: block;

  margin-bottom: 12px;

  color: var(--main-title-color);
}

.request-form__label {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  margin-bottom: 4px;
}

.request-form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-left: 42px;

  outline: none;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--main-accent-color);
    outline: 1px solid var(--main-accent-color);
    ~ .request-form__icon {
      fill: var(--main-accent-color);
    }
  }
}
.request-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-comment-area {
  max-height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--main-accent-color);
    outline: 1px solid var(--main-accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.request-privacy {
  position: relative;

  display: flex;
  align-items: center;

  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
  margin-left: 12px;

  cursor: pointer;
}

.request-privacy__input:checked {
  ~ .request-privacy__icon {
    opacity: 0;
  }
  ~ .request-privacy__checked {
    opacity: 1;
  }
}

.request-privacy__link {
  color: var(--main-accent-color);
  margin-left: 2px;
}
.request-privacy__icon {
  position: relative;
  top: -2px;

  opacity: 1;

  width: 16px;
  height: 15px;
  display: block;

  margin-right: 8.38px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-privacy__checked {
  position: absolute;
  top: 2px;

  width: 16px;
  height: 15px;
  display: block;

  margin-right: 7px;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__button {
  display: block;
  width: 200px;
  height: 50px;

  box-shadow: none;
  margin: 0 auto;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
