.products-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  padding-top: 0;
}

.section__title {
  font-size: 28px;
  line-height: 1.18;
  color: var(--main-title-color);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.products-list {
  display: flex;
  gap: 30px;
}

.product {
  position: relative;
}

.product__image {
  display: block;
}

.product__overlay {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.product__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
