.social-links-list {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}

.social-links-list__item {
  & + .social-links-list__item {
    margin-left: 10px;
  }
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-accent-color);
    color: var(--main-white-color);
  }
}

.social-icon {
  fill: currentColor;
}
